.test{
  background-color:"red";
}
.tag{
    line-height: 1.0em;
    white-space: nowrap;
    font-size: 0.7em;
  }

.profile_wrap2{
  background-color:rgb(237, 255, 249);
  padding-top:10px;
  padding-bottom :10px;
  margin:0 auto 0 auto;
  width:100%;

}

.profile_grid1{ 
  padding: 1em 0 1em 0;
  max-width: 1200px;
  margin:0 auto 10px auto;
  background-color:white;
  /*box-shadow: 3px 5px #c3c3c3;*/
  box-shadow: 0 2px 5px 0;
}

.row{
  background-color:white;
  width:90%;
  margin:auto;
  text-align:left;
  padding:1em 1em 0em 1em;
  
}
.row2{
  background-color:white;
  width:100%;
  margin:auto;
  text-align:left;
  padding:0.3em 1em 0.3em 1em;
  display:flex;
  align-items:baseline;
  
}

.rowButton{
  background-color:rgb(235, 247, 247);
  border:1px solid;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  width:25%;
  
  text-align:left;
  padding:0.3em 1em 0.3em 1em;
  display:flex;
  align-items:baseline;
}
.rowButton:hover{
  background-color: rgb(117, 255, 255);
}
.rowButtonSelected{
  background-color:rgb(87, 216, 216);
  border:1px solid;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  border-bottom:none;
  width:25%;
  
  text-align:left;
  padding:0.3em 1em 0.3em 1em;
  display:flex;
  align-items:baseline;
}

.row3{
  background-color:gray;
  width:60%;
  
  text-align:center;
  padding:1em 1em 0em 1em;
  
}

.row2FlexChild{
  background-color:white;
  width:100%;
  margin:auto;
  text-align:left;
  padding:0.4em 1em 0.4em 1em;
  display:flex;
  align-items:baseline;
  
}

.row2FlexChildAlt{
  background-color:white;
  width:90%;
  margin:auto;
  text-align:left;
  padding:0.4em 1em 0.4em 1em;
  display:flex;
  align-items:baseline;
  /*border:1px solid;*/
}

.row2FlexChildPortrait{

  width:100%;
  margin:auto;
  text-align:center;
  padding:0.3em 1em 0.3em 1em;
  display:flex;
  display:block;
}

.rowTextArea{
  background-color:white;
  width:90%;
  margin:auto;
  text-align:left;
  padding:0.3em 1em 0.3em 1em;
  display: flex;
  align-items:bottom;
}

.ulwrap1{

  border-style:dotted;
}
.labels{
  padding:1em;
  margin: auto;
  font-size:1.2em;
  line-height: 1.5em;
  width:90%;
  
  background-color: white;
  border:0.4px solid;
  border-radius:0.4em;
  
}
.label{
  font-weight:bold;
  width:25%;
  max-width:10em;
  min-width:4em;
  display:inline-block;
  
}
.label2{
  font-weight:bold;
  width:40%;
  max-width:6em;
  min-width:3em;
  display:inline-block;
}

.label3{
  font-weight:bold;
 
  display:inline-block;
  border:2px solid;
  padding:2px;
  border-radius:5px;
}

.rowPost{
  background-color:white;
  width:90%;
  margin:auto;
  text-align:left;
}
.labelPost{
  font-weight:bold;
  width:50%;
  max-width:10em;
  min-width:6em;
  display:inline-block;
  
}
.labelsPost{
  padding:1em;
  margin:auto;
  font-size:1.2em;
  line-height: 1.5em;
  width:60%;
  background-color: #f2f2f2;
  border: 0.4px solid;
  border-radius:0.4em;
}
.rowTable{
  background-color:rgb(241, 241, 241);
  max-width:1000px;
  width:100%;
  margin:auto;
  padding:2px;
}

.flex-container{
  display:flex;
}
.flex-start{
  align-items:flex-start;
}

.value{
  display:inline-block;
}

.tag_field{
  display:block;
  justify-content: flex-start;
  align-items: center;
  border: 0.4px solid #aaa;
  border-radius:8px;
  padding: 0.1em 0.3em 0em 0.3em;
  margin: 2px;
  background-color: rgb(210, 210, 210);
}

.tag_block{
  display:flex;
  justify-content: flex-start;

}
#submitbtn{
  display:none;
}
.buttonTag{
  margin-left:4px;
}
.ultest{

  padding: 0px;
  margin: 0px;
  display:flex;
  justify-content: center;
  
}
.ultest2{
  /*border-style:solid;*/
  list-style-type:none;
  margin-right:5px;
  padding:0;
  
  /*background-color: orange;*/
}


li2{
  border: 0.4px solid #aaa;
    border-radius: 50px;
  padding: 0px 5px;
  margin: 5px;
  
}
.li_span{
  min-width:3.5em;
}

a{
  text-decoration:none;
}
div{
  display:block;
}

button.marginLeft{
  margin-left:1em;
}

table, td, th{
  border:0.4px solid;
}
  /* make the table a 100% wide by default */
  table {
    border-collapse: collapse;
    width:100%;
    margin: 0 auto;
    background-color: rgb(243, 247, 247);
  }

th {
  border-bottom: 1px solid black;
  
}



thead tr{
  background-color:gray;
  color:white;

}
tbody tr{
  border-bottom: 1px solid black;
}
tbody tr:nth-of-type(even){
  background-color:white;
}
tbody tr:last-of-type{
  border-bottom: 2px solid green;
}
.roleBorder{
  border: 0.4px double;
  border-radius: 5px;
  background-color: white;
  padding:0.2em;
  margin: 0.3em;
}
.buttonsWrapDetail{
  display: flex;
  margin:auto;
  padding:1em 0 1em 0;
  justify-content: space-between;
  max-width:1000px;
}
.buttonsWrapDetail2{
  margin:auto;
  padding:1em 0 2em 0;
  width:95%;
  
}
.postDetail{


}

.pagination_center{
  display:flex;
  margin:auto; 

}

.backToDetail{
  


}

.title{
  padding:10px 0 10px 0
}
.form{
  background-color:white;
  padding:0.5em 0 0.5em 0;
}

.updateButtonsWrap{
  padding:1em 0 0 0;
  display:inline-block;
}
.updateButtonSubmit{
  float:left;
  padding:0 0.5em 0 0;
}
.updateButtonCancel{
  float:left;
  padding:0 0 0 0.5em;
}


.link:link, .link:visited {
  background-color: #33cb5e;
  border: 0.1em solid black;
  color: black;
  padding: 0.2em 0.5em 0.2em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link:hover, .link:active {
  background-color: rgb(29, 167, 33);
}

.createLink{
  padding: 1em 0 0 0;
}

.tdButtonWrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.3em 0 0 0;
  
  
}
.tdButtonContainer1{
  float:left;
  padding:0 0.6em 0 0;
}
.tdButtonContainer2{
  float:left;
  padding:0 0 0 0.6em;
}

button{
  
  text-decoration: none;
  cursor: pointer;
}
button:hover{
  background-color:#515151;
  color:white;
}

.table_field:link, .table_field:visited {
  color: rgb(255, 255, 255);
  padding: 0.2em 0.5em 0.2em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.table_field:hover, .table_field:active {
  color: rgb(0, 0, 0);
}

p, div, span{
  font-size:15px;
}

ul.no-bullets{
  
}

.list-block{
  border:2px solid rgb(82, 82, 82);
  background-color:rgb(232, 244, 246);
  border-radius:10px;
  padding:4px 3px 4px 3px;
  margin:3px 3px 3px 3px;
}

.create-your-own-wrapper{
  display:flex;
  flex-direction:row;
  width:"90%";
  margin:"auto"
}
@media screen and (max-width: 800px){
  .create-your-own-wrapper{
    flex-direction: column;
  }
}

.container1{
  scrollbar-gutter: stable;
  height: 200px;
  width: 500px;
  border: 3px white solid;
  overflow-y:auto;
  background-color:black;
  border-radius:10px;
  margin:auto;
}
.container2{
  display: flex;
  justify-content: center;
  background-color: yellow;
  border: 1px solid;
  border-radius:1px; 
}
.subContainer2{
  width: 600px;
  height: 700px;
  margin: 6px;
  border: 1px solid;
  border-radius:10px;
  background-color: white;
}
.photoFrame1{
  display:block;
  border:1px #aaa solid; 
  margin:2px; 
  padding:5px;
  background-color:rgb(231, 231, 231);
  width:195px;
}
.photoFrame1:hover{
  border:1px orange solid;
  background-color: white;
}

.photoFrame2{
  display:block;
  border:1px solid;
  width:140px;
  margin:2px;
  padding:1px;
  background-color: rgb(231, 231, 231);
}
.photoFrame2:hover{
  border:1px orange solid;
  background-color: white;
}

.photoFrame_Small{
  display:block;
  border:1px #aaa solid; 
  margin:1px; 
  padding:5px;
  background-color:rgb(236, 236, 236);
  width:80px;
}
.photoFrame_Small:hover{
  border:1px orange solid;
  background-color: #aaa;
}

.expandElement{
  display:flex;
  justify-content:space-between; 
  background-color:rgb(237, 255, 249); 
  border:1px gray solid; 
  margin:10px 0px 10px; 
  padding:1px 10px 1px 10px;
}

.activeBtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 160px;
}

  .btnDeactivated {
  background-color: white!important;
  color: black!important;
  border: 2px solid #008CBA!important;
}

.btnDeactivated:hover {
  background-color: #008CBA!important;
  color: white;
}

.deactiveBtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 160px;
}
